.vs/DotNetCraft.Common/v14/.suo
Implementation/DotNetCraft.Common.DataAccessLayer/bin/
Implementation/DotNetCraft.Common.DataAccessLayer/obj/
DotNetCraft.Common.sln.DotSettings.user
DotNetCraft.Common.BuildAll/obj/
DotNetCraft.Common.BuildAll/bin/
Core/DotNetCraft.Common.Core/obj/
Implementation/DotNetCraft.Common.Domain/obj/
Implementation/DotNetCraft.Common.Domain/bin/
obj/
Utils/DotNetCraft.Common.NLogger/bin/
Core/DotNetCraft.Common.Core.Utils/bin/
Core/DotNetCraft.Common.Core.Domain/bin/
Core/DotNetCraft.Common.Core/bin/
DotNetCraft.Common.BuildAll/DotNetCraft.Common.BuildAll.csproj.user
Core/DotNetCraft.Common.Core/DotNetCraft.Common.Core.csproj.user
.vs/
src/DotNetCraft.Common.BuildAll/bin/
src/Core/DotNetCraft.Common.Core/bin/
src/Utils/DotNetCraft.Common.NLogger/bin/
src/Utils/DotNetCraft.Common.NLogger/DotNetCraft.Common.NLogger.csproj.user
src/Implementation/DotNetCraft.Common.DataAccessLayer/bin/
Packages/
src/Core/DotNetCraft.Common.Core.Domain/bin/
src/Core/DotNetCraft.Common.Core.Utils/bin/
DataAccessLayer.Tests/bin/
src/DotNetCraft.Common.BuildAll/DotNetCraft.Common.BuildAll.csproj.user
src/Implementation/DotNetCraft.Common.Domain/bin/
Tests/DataAccessLayer.Tests/bin/
src/Utils/DotNetCraft.Common.Utils/bin/
Net45/
*.nupkg
src/Implementation/DotNetCraft.Common.Utils/bin/
Tests/Utils.Tests/bin/
Tests/Domain.Tests/bin/
lib/
src/ReadyToUse/DotNetCraft.Common.ReadyDataAccessLayer/bin/
Build/
